.feedback {
    background-image: url(../img/Feedback/2196.png), url(../img/Feedback/Feedback_fon.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 438px;
    background-position: center;
}
.carousel__box {
    display: flex;
    justify-content: space-between;
}

.carousel__item{
        display: flex;
        margin-top: 111px;
}

.carousel__item img{
        height: 83px;
        width: 83px;
}

.carousel__text{
    width: 426px;
    float: right;
    margin-left: 28px;
}

.carousel__text span {
    font-family: 'Lato';
    font-size: 16px;
    font-style: italic;
    color: rgba(34, 34, 36, 1);
    letter-spacing: 0.03em;
    line-height: 26px;
}

.carousel__text h1 {
    font-family: 'Lato';
    font-size: 16px;
    font-weight: bold;
    color: rgba(241, 109, 127, 1);
    letter-spacing: 0.03em;
    line-height: 26px;
}

.indicators__ol{
    display: flex;
    margin-top: 41px;
    list-style-type: none;
}

.carousel-indicators{
    height: 4px;
    width: 38px;
    background-color: rgba(214, 214, 214, 1);
    margin-right: 13px;
}

.carousel-indicators:hover{
    background-color: rgba(241, 109, 127, 1);
}

.carousel__text h2 {
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 300;
    color: rgba(34, 34, 36, 1);
    letter-spacing: 0.03em;
    line-height: 14px;
}

.subscribe__box {
    padding-top: 142px;
    width: 540px;
}

.subscribe__box h1 {
    font-family: 'Lato';
    text-align: center;
    font-size: 24px;
    color: rgba(34, 34, 36, 1);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.subscribe__box h2 {
    font-family: 'Lato';
    font-size: 14px;
    color: rgba(34, 34, 36, 1);
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 24px;
}

.subscribe__form {
    margin: 35px auto 0 auto;
    height: 46px;
    width: 386px;
    display: flex;
}

.subscribe__form input {
    background-color: #e1e1e1;
    border-radius: 23px;
    border: 0px;
    padding-left: 28px;
    padding-right: 131px;
}

.subscribe__form button {
    margin-left: -52px;
    height: 46px;
    width: 104px;
    background-color: #f16d7f;
    border: 0px;
    border-radius: 0px 23px 23px 0px;
    font-family: 'Lato';
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.03em;
}
