$border_botton: 1px solid #eaeaea
$font-f: 'Lato'
$color-hover : rgba(241, 109, 127, 1)
@mixin grid($number_blocs,$marg-ri)
    width: ((100% -(($number_blocs - 1) * $marg-ri)) / $number_blocs)
    margin-right: $marg-ri
    text-align: center
    

.wrapper heder,
.CartItemsList__wrapper
    border-bottom: $border_botton
    margin-bottom: 21px
    padding-bottom: 21px

.wrapper heder,
.CartItemsList__wrapper,
.CartItem-module__actions,
.wrapper__CartSidebar,
.pD_h
    display: flex
    justify-content: space-between
    
     
.wrapper 
    margin-top: 90px
    &_left
      width: calc((100% / 12) * 5 )  
    &_right
      width: calc((100% / 12) * 7 ) 
      display: flex
      justify-content: space-between
      align-items: center   


.pD_h 
    &-s 
        @include grid(5,0)
    span
        padding-bottom: 20px
        font-family: $font-f
        font-size: 13px
        font-weight: bold
        color: rgba(34, 34, 34, 1)
        letter-spacing: -0.01em
        line-height: 20px
        text-transform: uppercase

.CartItem-module
    display: flex
    &_imageWrapper
        img 
            width: 100px
            height: 115px
            margin-right: 21px
    &__details  
        h3 
            font-family: $font-f
            font-size: 13px
            color: rgba(34, 34, 34, 1)
            text-transform: uppercase
            margin-bottom: 38px  
            margin-top: 10px
        P 
            font-family: $font-f
            font-size: 13px
            color: rgba(87, 87, 87, 1)
            line-height: 20px  
            font-weight: 600    
        span 
            font-weight: 300
            padding-left: 5px
    &__actions
        input[type="text"]
            text-align: center
            height: 30px
            width: 54px

.actionsWrapper  
    display: flex
    justify-content: center
    align-items: center
    &__uP
        @include grid(5,0)
    &__q
        @include grid(5,0)
    &__ship
        @include grid(5,0)
    &__sub
        @include grid(5,0)
    &__act
        @include grid(5,0)
    
.button__wrapper__csc
    height: 50px
    width: 235px
    font-family: $font-f
    font-size: 14px
    font-weight: bold
    color: rgba(74, 74, 74, 1)
    text-transform: uppercase
    background-color: rgba(255, 255, 255, 1)
    border: $border_botton
    &:hover
         border: 2px solid $color-hover
         color: $color-hover

.grid
    @include grid(3,5%)
    text-align: left
    display: flex
    flex-direction: column
    &:last-child
        margin-right: 0
        text-align: center

.shipping__total
    display: flex
    justify-content: space-between
    padding-top: 63px
    input[type="text"],select
        height: 45px
        padding-left: 10px
        padding-right: 10px
        border: 1px solid rgba(234, 234, 234, 1)
        margin-bottom: 23px
    h2 
        font-family: $font-f
        font-size: 16px
        font-weight: bold
        color: rgba(34, 34, 34, 1)
        text-transform: uppercase
        margin-bottom: 23px
    input[type="button"]
        height: 35px
        border: 1px solid rgba(234, 234, 234, 1)
        font-family: $font-f
        font-size: 11px
        font-weight: bold
        color: rgba(74, 74, 74, 1)
        text-transform: uppercase
        background-color: rgba(255, 255, 255, 1)
        margin-bottom: 23px
    
.shippingAdress__box
    input[type="button"]
        width: 100px

.couponDiscount__box
    h3 
        font-family: 'Lato'
        font-size: 14px
        font-weight: 300
        color: rgba(0, 0, 0, 1)
        margin-bottom: 23px
    input[type="button"] 
        width: 115px

.total__box
    background-color: rgba(245, 243, 243, 1)
    height: 214px

.total
    text-align: end
    padding: 20px
    input[type="button"]
        background-color: rgba(241, 109, 127, 1)
        font-family: 'Lato'
        font-size: 16px
        font-weight: bold
        color: rgba(255, 255, 255, 1)
        text-transform: uppercase
        height: 50px
        width: 273px

